name: Helm Chart Release

on:
  push:
    tags:
      - "*"

jobs:
  release:
    permissions:
      contents: write
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - name: Get tag
        id: tag
        uses: dawidd6/action-get-tag@v1

      - name: Replace Version in Chart.yaml
        run: sed -i 's/VERSION/${{ steps.tag.outputs.tag }}/g' ./chart/Chart.yaml

      - name: Publish Helm chart
        uses: stefanprodan/helm-gh-pages@master
        with:
          token: ${{ secrets.HELM_CHARTS_BOT }}
          charts_dir: ./
          charts_url: https://charts.pipem.io
          owner: pipem-io
          repository: helm-charts
          branch: gh-pages
